/* TODO: On regular sized devices (laptops, desktops), the element with id="navbar"
should be shown on the left side of the screen and should always be visible to the user. */

/* TODO: At least on media query */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
}

#navbar header {
  margin: 10px;
  font-size: 1.8rem;
}

#navbar ul {
  margin: 10px 0;
  list-style: none;
}

/* #navbar ul li {
  list-style: square;
} */

.nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

/* MAIN */

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
}