* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* NAVBAR */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar header {
  margin: 10px;
  font-size: 1.8rem;
}

#navbar ul {
  margin: 10px 0;
  height: 100%;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.included {
  padding-left: 30px;
}

.included .nav-link {
  margin: 5px 0;
  padding: 0;
}

/* MAIN */

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
}

.main-section {
  padding-bottom: 20px;
}

.main-section header {
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px
}

.main-section h3 {
  margin: 20px 0 10px;
  padding: 4px 10px;
  background-color: #555;
  color: #fff;
}

p {
  margin: 20px 0;
  text-align: justify;
}

pre {
  background-color: #cce;
  margin: 20px;
  padding: 10px;
  border-radius: 3px;
}

pre code {
  font-size: 1rem;
  padding: 0;
}

code {
  background-color: #cce;
  font-size: 1.3rem;
  padding: 2px;
}

.bad-code {
  background-color: #fcc;
}

.bad-code code {
  background-color: inherit;
}

.main-section ul, .main-section ol {
  padding-left: 40px;
  text-align: justify;
}

.main-section ul li, .main-section ol li {
  padding-bottom: 10px;
}

.note {
  margin: 15px 0;
  padding: 5px;
  background-color: rgba(25, 225, 25, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(25, 225, 25, 0.8);
  font-size: 0.9rem;
}

.note p {
  margin: 0;
  padding: 5px 20px;
}

.standard-table {
  width: 100%;
  border-collapse: collapse;
}

.standard-table thead tr {
  background-color: #bbd;
}

.standard-table th, .standard-table td {
  text-align: left;
  padding: 6px 8px;
  border: 2px solid #fff;
}

tr:nth-child(even) {
  background: #bbb;
}

tr:nth-child(odd) {
  background: #ddd;
}

/* MEDIA QUERY */

@media only screen and (max-width: 800px) {
  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
  }
  #navbar ul {
    height: 100%;
  }
  #main-doc {
    position: relative;
    margin: 300px 0 0;
  }
}